{% extends 'application/index.html' %}
{% block nav %}
<li class="nav-item">
  <a class="nav-link tm-nav-link" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock %}
{% block body %}
<br>
<br>
<div class="container">
<div id="hot"></div>
<div id="export-buttons" class="visible">
    <button id="export-csv" class="btn size-medium bg-blue text-white shadow hover-moveup" style="margin-right: 5px;">Export to a .csv file</button>
</div>
</div>
<script>
var mydataString = "{{sales_obj|escapejs}}";
var dataObject = JSON.parse(mydataString)["sales_obj"]
console.log(dataObject);
var hotElement = document.querySelector('#hot');
var hotElementContainer = hotElement.parentNode;
var hotSettings = {
  data: dataObject,
  columns: [
    {
      data: 'order_number',
      type: 'numeric',
      width: 60
    },
    {
      data: 'quantity',
	  type: 'numeric',
	  width: 40
    },
    {
      data: 'price',
      type: 'text'
    },
    {
      data: 'sales',
      type: 'text'
    },
    {
      data: 'month',
      type: 'numeric'
    },
    {
      data: 'year',
      type: 'date',
      dateFormat: 'YYYY'
    },
    {
      data: 'productline',
      type: 'text'
    },
    {
      data: 'dealsize',
      type: 'dropdown',
      source: ['Small', 'Medium', 'Large']
    }
  ],
  stretchH: 'all',
  width: 805,
  autoWrapRow: true,
  height: 487,
  rowHeaders: true,
  colHeaders: [
    'OrderNumber',
    'Quantity',
    'Price Per Piece',
    'SALES',
    'MONTH_ID',
    'YEAR_ID',
    'PRODUCTLINE',
    'DEALSIZE'
  ],
  exportFile: true,
  language: 'en-US'
};
var hot = new Handsontable(hotElement, hotSettings);
document.getElementById("export-csv").addEventListener("click", function(event) { hot.getPlugin("exportFile").downloadFile("csv", {filename: "Handsontable CSV Export example"});})

</script>
{% endblock %}